.App {
  text-align: center;
}

h1, h4{
  font-family: 'Bebas Neue', cursive;
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3e4646;
}

.form-container{
  width: 40%;
  padding: 2% 10%;
  margin: auto;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: initial;
  box-shadow: 2px 2px 5px black;
}
